<div class="container">
  <!-- Header -->
  <div class="header">
  </div>
  <!-- Content table -->
  <div class="table-container">
    <div class="table-responsive">
      <table class="table table-condensed">
          <!-- <tr ng-repeat="founder in founders | filter:search | orderBy:sortField:sortReverse"> -->
        <tr ng-repeat="item in items">
          <td><img ng-src="{{item.image}}" class="img-rounded"></td>
          <td><a ng-href="{{item.link}}" target="_blank">{{item.caption_en}}</a></td>
          <td>{{item.description_en}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
